# This is a basic workflow to help you get started with Actions

name: Postman Collection For Crisp Patient Details

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job
  postman-tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Setup Node.js Environment
        uses: actions/setup-node@v4.0.3
        with:
         node-version: '20.9.0'
        
      # Newman and Html Extra Installation
      - name: Install Newman and Html Extra
        run: npm install -g newman newman-reporter-htmlextra

      # Postman Collection Execution and Report Generation
      - name: Execute the postman collection
        run: newman run Crisp\ Patient\ Details.postman_collection.json -r cli,htmlextra

      - name: Archive the HTML Report
        if: always()
        uses: actions/upload-artifact@v3.2.0-node20
        with:
          name: Postman Test Report
          path: newman/*html
      
